body
{
}
#div1
{
    background-color : Aqua;
    height : 80%;
top : "100px"
    
}
#div2
{
    background-color = Aqua;
    height : 10%;
    
}
#div3
{
    background-color = Aqua;
    height : 10%;
    
}